/* here you can put your own css to customize and override the theme */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.portlet.box.blue-hoki > .portlet-title{
  background-color:#707b88;
}
input.tw-control {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
.fa-ul>li {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dt {
  width: 75%;
  margin: 50px auto;
}
.loading-row{
  height: 100px;
  text-align: center !important;
  line-height: 80px;
}
.treeview .hitarea { 
  height: 21px !important; 
  width: 11px !important; 
  background-position: -13px 5px !important;
}
.treeview .expandable-hitarea {
    background-position: left 5px !important;
}
.tree-name { 
  font-size: 14px; color: #8895a9; 
}
.box-min-height{
  min-height: 400px;
}
.control-label > strong {
    /*color: #707070;*/
    font-weight: 600;
}
.top-buffer{
  margin-top: 30px;
}
.project_list{
  list-style: outside none none;
  padding: 6px;  
}
.plist{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}
.topbox-min-height{
  min-height: 511px;
}
.portlet-height{
  height: 357px;
}
.task-right{
  float: right;
  cursor: pointer;
}
.location_box{
  height: 370px;
  overflow-x: hidden;
}
.form_border{
  padding-left: 8px;
  border: 2px solid #ccc; 
}

.logo_img{
  height: 61px;
  width: 102px;
}
.btn-file{
  text-align: left;
}
.red ,.error{
  color: red;
} 
.breadcrumb{
  /*background-color:#fff !important;*/
  margin: 0 0 10px 0 !important;
}
.edit_btn{
  float: right;
  margin: 5px;
}

.cst-login .cst-yellow-btn{
  color: #000;
  background-color: #ffd621;
  font-weight: 600;
}

.cst-login .cst-yellow-btn:hover{
  color: #000;
  background-color: #ffbb00;
  font-weight: 600;
}

.cst-login .cst-back-btn{
  color: #000;
  background-color: #eee;
  font-weight: 600;
}

.cst-login .cst-back-btn:hover{
  color: #000;
  background-color: #ddd;
  font-weight: 600;
}

.alert-success_login {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    margin: 0 auto 17px;
    text-align: center;
    width: 50%;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
/*******************************/

#switch_permission table tr td i.active { font-size:30px;cursor:pointer; color: #5cb85c}
#switch_permission table tr td  i.inactive {font-size:30px;cursor:pointer; color: #d9534f}

/* Temporary CSS - Devesh 06-03-17 */

.min-height-450{
  min-height: 450px;
}
.accord{
  display: inline-block !important;
  padding: 10px 0px !important;
}
.neighbor_div {
    min-height: 467px;
}
.role_list{
  cursor: pointer;
}

/* 20-03-2016 */
.cst-alert{
  position: absolute;
  border-radius: 0;
  z-index: 1;
}
.cst-normal-alert{
  width: 75%;
  margin: 10px;
}
.cst-company-alert{
  width: 90%;
  margin: 10px;
}
.cst-list-alert{
  width: 75%;
  margin: 0;
}
.cst-logo-section #logo_image{
  max-width: 100%;
}
.theme_settings.active,.theme_settings.active a,.theme_settings.active:hover,.theme_settings.active a:hover {
  border-bottom:none !important;
  background-color:#ccc !important;
}
.theme_settings:hover,.theme_settings a:hover {
  border-bottom:none !important;
  background-color:#eeeeee !important;
}
.show_color, .input_color{
  width:40%;
  height:30px;
  float:left;
  border:2px solid black;
  border-radius: 2px;
  margin-right: 5%
}
.btn-theme_settings {
    background-color: #cccccc;
    color:#ffffff;
    border-radius: 6px;
    padding: 8px 11px;
    position: fixed;
    right: 5px;
    top: 55px;
    z-index: 9999;
}
.btn-theme_settings i {
  font-size: 20px;
  margin-top: 4px;
}