/* here you can put your own css to customize and override the theme */
.red , .error{
    color: #f00;
    padding-left: 4px;
}
input[type=search]{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.table-responsive{
	overflow-x:unset;
}
select{
	background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
 	  background-image: none;
    display: inline;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.portlet-height {
    height: 200px;
}

.list_status{
  cursor: pointer;
}

.added_issueTo{
  background:#f4f6f9 none repeat scroll 0 0;
}

/**19 may 2017**/
.custom-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  width: 220px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-select.small {
  width: 104px;
}
.custom-select.medium {
  width: 164px;
}
.custom-select.large {
  width: 300px;
}
.custom-select.xlarge {
  width: 380px;
}
.custom-select > select {
  display: none !important;
}
.custom-select > a.dropdown-toggle {
  border-radius: 0;
  line-height: 28px;
  box-shadow: none;
  background: #ffffff;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  border: 1px solid #aaa;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  color: #888;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}
.custom-select > a.dropdown-toggle.disabled,
.custom-select > a.dropdown-toggle.disabled:hover {
  cursor: not-allowed;
  color: #aaa;
  background: #eee;
}
.custom-select > a.dropdown-toggle:hover, 
.custom-select.open > a.dropdown-toggle {
  color: #333;
}
.custom-select.open > a.dropdown-toggle {
  border-bottom: 0;
  line-height: 29px;
}
.control-group.error .custom-select > a.dropdown-toggle {
  border-color: #f09784;
  color: #d68273;
}
.custom-select > a.dropdown-toggle > span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-select > a.dropdown-toggle > b {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.custom-select > a.dropdown-toggle > b:before {
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  position: relative;
  top: -1px;
  left: 1px;
}
.custom-select.open > a.dropdown-toggle > b:before {
  content: "\f0d8";
}
.custom-select > .dropdown-menu {
  margin-top: 0;
  border: 1px solid #aaa;
  border-top: 0;
  padding-bottom: 0;
  width: auto;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
}
.custom-select > .dropdown-menu > .custom-select-search > input {
  width: 100%;
  height: 30px;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 5px;
  border-radius: 0;
}
.custom-select > .dropdown-menu > .custom-select-search:after {
  content: "\f002";
  display: inline-block;
  color: #888;
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 10px;
}
.custom-select > .dropdown-menu > ul {
  border-color: #aaa;
  border-top: 0;
  margin: 4px 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  padding-right: 14px;
}
.custom-select > .dropdown-menu > ul > li > a {
  font-size: 13px;
  margin-bottom: 1px;
  margin-top: 1px;
  display: block;
  padding: 3px 8px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  cursor: pointer;
  width: 100%;
}
.custom-select > .dropdown-menu > ul > li > a:hover, 
.custom-select > .dropdown-menu > ul > li > a:focus {
  color: #2283c5;
  text-decoration: none;
  background-repeat: repeat-x;
}
.custom-select > .dropdown-menu > ul > li > a:hover {
  background: #4f99c6;
}
.custom-select > .dropdown-menu > ul > li > a:focus {
  background: #2283c5;
}
.custom-select > .dropdown-menu > ul > li.empty-result > em {
  text-align: center;
  padding: 4px 8px;
  display: block;
}
.custom-select > .dropdown-menu > .custom-select-action > button {
  border-radius: 0;
  background-image: none;
}
.custom-select > .dropdown-menu:before {
  border: 0;
}
.loader{  
  left: 42%;
  position: absolute;
  top: 30%;
  width: 0;
  z-index: 1;
}
.issueto_comp_name{
  padding-left: 11px;
  color: #5b9bd1;
}
.check_all{
  padding-right: 29px;
}
.min-height-450 {
    min-height: 450px;
}
.cst-alert {
    position: absolute;
    border-radius: 0;
    z-index: 1;
}
.cst-normal-alert {
    width: 75%;
    margin: 10px;
}
.cst-list-alert {
    width: 75%;
    margin: 0;
}
.frontend_user_profile{
  margin: 0 auto;
}

.change_company{
  margin-top: 18px;
}
.associate_user{
  color: #666;
}